:root{
    --foggreen: #F1F3E0;
    --herbgreen: #D2DCB6;
    --sagegreen: #A1BC98;
    --forestgreen: #778873;
}

/* REMOVE DEFAULT STYLE*/
* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* SIDE BAR STYLE */
.side-nav {
  background-color: aqua;
  position: absolute;
  height: 100%;
  width: 20%;
  visibility: hidden;
}

.icon-bar-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  z-index: 2;
}

.top-nav-container {
  height: 25%;
  background-color: chocolate;
}

.list-nav-container {
  margin: 2rem 1rem;
}
.list-nav-container ul {
  display: flex;
  flex-direction: column;
}
.list-nav-container ul li {
  padding: 1rem;
}
.list-nav-container ul li:hover {
  background-color: gray;
  cursor: pointer;
}
