:root {
  --foggreen: #f1f3e0;
  --herbgreen: #d2dcb6;
  --sagegreen: #a1bc98;
  --forestgreen: #778873;
}

.icon-bar-container {
  position: fixed;
  font-size: 30px;
  color: var(--forestgreen);
}

/* REMOVE DEFAULT STYLE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--foggreen);
  color: #333;
  line-height: 1.6;
}

a {
  all: unset;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* SIDE BAR STYLE */
.side-nav {
  background-color: var(--foggreen);
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 20%;
  visibility: hidden;
}

.icon-bar-container {
  position: fixed;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  z-index: 2;
}

.top-nav-container {
  height: 25%;
  background-color: var(--forestgreen);
}

.list-nav-container {
  margin: 2rem 0;
  user-select: none;
}
.list-nav-container ul {
  display: flex;
  flex-direction: column;
}
.list-nav-container ul li {
  padding: 1rem;
}
.list-nav-container ul li:hover {
  background-color: var(--herbgreen);
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .side-nav {
    width: 70%;
  }
}
