:root {
  --foggreen: #f1f3e0;
  --herbgreen: #d2dcb6;
  --sagegreen: #a1bc98;
  --forestgreen: #778873;
}

.icon-bar-container {
  position: fixed;
  font-size: 30px;
  color: var(--forestgreen);
}

/* REMOVE DEFAULT STYLE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--foggreen);
  color: #333;
  line-height: 1.6;
}

a {
  all: unset;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* SIDE BAR STYLE */
.side-nav {
  z-index: 3;
  background-color: var(--foggreen);
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 20%;
  visibility: hidden;
  transform: translateX(-100%);
  transition: transform 0.35s ease-in-out, visibility 0.35s;
}

.side-nav.open {
  visibility: visible;
  transform: translateX(0);
}


.icon-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 4;
  background-color: var(--forestgreen);
  padding: 0.5rem 1rem;
  border-bottom-right-radius: 10px;
}

.top-nav-container {
  height: 25%;
  background-color: var(--forestgreen);
}

.list-nav-container {
  margin: 2rem 0;
  user-select: none;
}
.list-nav-container ul {
  display: flex;
  flex-direction: column;
}
.list-nav-container ul li {
  padding: 1rem;
}
.list-nav-container ul li:hover {
  background-color: var(--herbgreen);
  cursor: pointer;
}
/* OVERLAY */
.overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s ease-in-out, visibility 0.35s;
  z-index: 1;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 520px) {
  .side-nav {
    width: 70%;
  }
}
